 <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    header {
      background-color: #f4f4f4;
      color: #006400;
      text-align: center;
      padding: 20px 0;
    }
  </style>
  <title>Daily Connect</title>
  <header>
    <h1><a href="{% url 'daily_connect' %}" style="text-decoration: none; color: #006400;">Daily Connect</a></h1>
  </header>
    <div style="
        text-align: center; margin-top: 0px; margin-left: 250px; margin-right: 250px;
        border: 1px solid black;
        border-radius: 50px; 
        background-color: #FFE6E6;
        padding: 0px;">
        <h2>{{ board.subject }}</h2></div>
    <div style="
        text-align: center;
        margin-top: 0px;
        margin-left: 250px; 
        margin-right: 250px;
        border: 1px dashed black;
        border-radius: 14px;
        margin-top: 10px;
        padding: 40px;">
        {{ board.content }}
    </div>
<div style="position: absolute; right: 20px; bottom: 15px;">
    <strong>작성일시 :</strong> {{ board.create_date}}
</div>